<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boot.st.product.mapper.ProductCategoryMapper">
    <sql id="tableName">
        product_category
    </sql>

    <sql id="baseColumn">
        id,pid,name,description,pic_url,sort,create_time,update_time,status,deleted
    </sql>

</mapper>