<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boot.st.product.mapper.ProductSpuMapper">
    <sql id="tableName">
        product_spu
    </sql>

    <sql id="baseColumn">
        id,name,sell_point,description,cid,pic_urls,visible,sort,price,quantity,create_time,update_time,deleted
    </sql>

</mapper>